In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('AMZN.csv')

In [4]:
# identify all the unique values' occurence
df.nunique()

Date                     503
Close Price              496
Open Price               487
High Price               496
Low Price                498
Total Traded Quantity    343
dtype: int64

In [5]:
df.head()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity
0,"Oct 24, 2019","1,780.78","1,770.78","1,787.97","1,760.78",5.20M
1,"Oct 23, 2019","1,762.17","1,761.30","1,770.05","1,742.00",2.19M
2,"Oct 22, 2019","1,765.73","1,788.15","1,789.78","1,762.00",2.23M
3,"Oct 21, 2019","1,785.66","1,769.66","1,785.88","1,765.00",2.22M
4,"Oct 18, 2019","1,757.51","1,787.80","1,793.98","1,749.20",3.37M

In [6]:
df90 = df['Close Price'].head(90)

In [7]:
# replaces commas(,) by 0 space
# astype converts datatype ----- from object to float
df90 = df90.str.replace(",","").astype(float)

In [8]:
df90.max()

2020.99

In [9]:
df90.min()

1705.51

In [10]:
type(df90)

pandas.core.series.Series

In [11]:
df90.mean()

1837.3786666666665

In [12]:
# df['Date'] = pd.to_datetime(df['Date'])
# we can use the above command to convert to datetime64
df['Date'] = df['Date'].astype('datetime64')

In [13]:
df['Date'].min() - df['Date'].max()

Timedelta('-729 days +00:00:00')

In [14]:
df.dtypes

Date                     datetime64[ns]
Close Price                      object
Open Price                       object
High Price                       object
Low Price                        object
Total Traded Quantity            object
dtype: object

In [15]:
# df['Date'] = pd.to_datetime(df['Date'])
df['Year'], df['Month'] = df['Date'].dt.year, df['Date'].dt.month

In [16]:
# replaces the quantities using dictionary
# dictionary keys are the things to replace
# and their corresponding dictionary values are by what they should be replaced
# map functions performs the input function 'pd.eval' over the entire data frame
# pd.eval performs certain operations ---- for ex: here it performs multiplicataion of 1e3 and 1e6
df['Total Traded Quantity'] = 
df['Total Traded Quantity'].replace({'K': '*1e3', 'M': '*1e6'}, 
                                    regex=True).map(pd.eval).astype(float)

In [17]:
df['Close Price'] = df['Close Price'].str.replace(",","").astype(float)

In [18]:
df['High Price'] = df['High Price'].str.replace(",","").astype(float)

In [19]:
df['Low Price'] = df['Low Price'].str.replace(",","").astype(float)

In [20]:
df['Avg Price(CP+HP+LP)'] = (df['Close Price'] + df['High Price'] + df['Low Price'])/3

In [21]:
df['Avg Price(CP+HP+LP)']

0      1776.510000
1      1758.073333
2      1772.503333
3      1778.846667
4      1766.896667
          ...
498    1105.646667
499    1109.066667
500    1085.693333
501     974.626667
502     974.530000
Name: Avg Price(CP+HP+LP), Length: 503, dtype: float64

In [22]:
df['VWAP'] = (df['Avg Price(CP+HP+LP)']* df['Total Traded Quantity'])/df['Total Traded Quantity']

In [23]:
df.groupby(['Year', 'Month']).sum()

            Close Price  High Price  Low Price  Total Traded Quantity  \
Year Month
2017 10         5262.42     5306.25    5180.02             35310000.0
     11        23935.97    24075.76   23718.37             77160000.0
     12        23376.83    23553.29   23219.14             57770000.0
2018 1         27489.23    27665.91   27117.54             96360000.0
     2         27404.90    27912.54   26930.85            137780000.0
     3         32347.72    32688.28   31861.69            130390000.0
     4         30832.63    31339.07   30410.75            129930000.0
     5         35087.88    35231.72   34817.31             71630000.0
     6         35675.30    35947.73   35374.76             85950000.0
     7         37477.63    37831.93   37065.80             97630000.0
     8         43650.58    43901.22   43260.54             96560000.0
     9         37355.48    37756.79   36928.57             94430000.0
     10        40987.34    41933.59   40325.27            183230000.0
     11        34135.16    34728.08   33455.14            139300000.0
     12        29629.42    30435.93   29031.72            154790000.0
2019 1         34440.68    34803.38   33866.62            134030000.0
     2         30911.81    31161.81   30631.78             80950000.0
     3         36172.33    36482.20   35813.74            100830000.0
     4         39190.25    39362.52   38869.72             81260000.0
     5         41126.43    41496.05   40760.67             98230000.0
     6         37052.35    37377.33   36719.53             74750000.0
     7         43249.41    43502.42   42869.91             73190000.0
     8         39460.20    39832.54   39121.14             80000000.0
     9         35982.42    36246.38   35693.72             62020000.0
     10        31445.86    31669.68   31218.51             51310000.0

            Avg Price(CP+HP+LP)          VWAP
Year Month
2017 10             5249.563333   5249.563333
     11            23910.033333  23910.033333
     12            23383.086667  23383.086667
2018 1             27424.226667  27424.226667
     2             27416.096667  27416.096667
     3             32299.230000  32299.230000
     4             30860.816667  30860.816667
     5             35045.636667  35045.636667
     6             35665.930000  35665.930000
     7             37458.453333  37458.453333
     8             43604.113333  43604.113333
     9             37346.946667  37346.946667
     10            41082.066667  41082.066667
     11            34106.126667  34106.126667
     12            29699.023333  29699.023333
2019 1             34370.226667  34370.226667
     2             30901.800000  30901.800000
     3             36156.090000  36156.090000
     4             39140.830000  39140.830000
     5             41127.716667  41127.716667
     6             37049.736667  37049.736667
     7             43207.246667  43207.246667
     8             39471.293333  39471.293333
     9             35974.173333  35974.173333
     10            31444.683333  31444.683333

In [24]:
def avg_price(N):
    if N == 0:
        print('Please enter a valid no')
    else:
        print(df.head(N)['Close Price'].mean())

In [25]:
N = int(input('Enter the no of latest days to calculate average : '))
avg_price(N)

Enter the no of latest days to calculate average : 8
1773.0175

In [26]:
df

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Year,Month,Avg Price(CP+HP+LP),VWAP
0,2019-10-24,1780.78,"1,770.78",1787.97,1760.78,5200000.0,2019,10,1776.510000,1776.510000
1,2019-10-23,1762.17,"1,761.30",1770.05,1742.00,2190000.0,2019,10,1758.073333,1758.073333
2,2019-10-22,1765.73,"1,788.15",1789.78,1762.00,2230000.0,2019,10,1772.503333,1772.503333
3,2019-10-21,1785.66,"1,769.66",1785.88,1765.00,2220000.0,2019,10,1778.846667,1778.846667
4,2019-10-18,1757.51,"1,787.80",1793.98,1749.20,3370000.0,2019,10,1766.896667,1766.896667
...,...,...,...,...,...,...,...,...,...,...
498,2017-10-31,1105.28,"1,109.00",1110.54,1101.12,3480000.0,2017,10,1105.646667,1105.646667
499,2017-10-30,1110.85,"1,095.01",1122.79,1093.56,6610000.0,2017,10,1109.066667,1109.066667
500,2017-10-27,1100.95,"1,058.14",1105.58,1050.55,16570000.0,2017,10,1085.693333,1085.693333
501,2017-10-26,972.43,980.33,982.90,968.55,5620000.0,2017,10,974.626667,974.626667
502,2017-10-25,972.91,978.00,984.44,966.24,3030000.0,2017,10,974.530000,974.530000

In [27]:
# '.shift(x)' shifts the entire data frame or a perticular column up or down by x units
# if x is '+x' it shifts the entire column x units down and enters the value of new column as NaN
# if x is '-x' it shifts the entire column x units up and enters the value of new column as NaN
df['Profit/Loss Percentage'] = (df['Close Price'] - df['Close Price'].shift(-1))/df['Close Price'].shift(-1)
df['Profit/Loss Percentage'] = df['Profit/Loss Percentage'].fillna(value = 0)

In [28]:
df

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Year,Month,Avg Price(CP+HP+LP),VWAP,Profit/Loss Percentage
0,2019-10-24,1780.78,"1,770.78",1787.97,1760.78,5200000.0,2019,10,1776.510000,1776.510000,0.010561
1,2019-10-23,1762.17,"1,761.30",1770.05,1742.00,2190000.0,2019,10,1758.073333,1758.073333,-0.002016
2,2019-10-22,1765.73,"1,788.15",1789.78,1762.00,2230000.0,2019,10,1772.503333,1772.503333,-0.011161
3,2019-10-21,1785.66,"1,769.66",1785.88,1765.00,2220000.0,2019,10,1778.846667,1778.846667,0.016017
4,2019-10-18,1757.51,"1,787.80",1793.98,1749.20,3370000.0,2019,10,1766.896667,1766.896667,-0.016767
...,...,...,...,...,...,...,...,...,...,...,...
498,2017-10-31,1105.28,"1,109.00",1110.54,1101.12,3480000.0,2017,10,1105.646667,1105.646667,-0.005014
499,2017-10-30,1110.85,"1,095.01",1122.79,1093.56,6610000.0,2017,10,1109.066667,1109.066667,0.008992
500,2017-10-27,1100.95,"1,058.14",1105.58,1050.55,16570000.0,2017,10,1085.693333,1085.693333,0.132164
501,2017-10-26,972.43,980.33,982.90,968.55,5620000.0,2017,10,974.626667,974.626667,-0.000493
502,2017-10-25,972.91,978.00,984.44,966.24,3030000.0,2017,10,974.530000,974.530000,0.000000

In [29]:
def profit_loss_pct(N):
    t = df['Profit/Loss Percentage'].head(N).sum()
    if t < 0:
        print('Loss over {} days is :'.format(N), t ,"%")
    else:
        print('Profit over {} days is :'.format(N),t ,"%")

In [30]:
N = int(input('Enter the no of latest days to calculate Profit/Loss percentage : '))
pct = profit_loss_pct(N)

Enter the no of latest days to calculate Profit/Loss percentage : 45
Loss over 45 days is : -0.020795454669701688 %

In [31]:
print('Profit/Loss percentage for 7 days (1 week)') 
profit_loss_pct(7)
print('Profit/Loss percentage for 14 days (2 weeks)') 
profit_loss_pct(14)
print('Profit/Loss percentage for 30 days (1 Month)') 
profit_loss_pct(30)
print('Profit/Loss percentage for 60 days (2 Months)') 
profit_loss_pct(60)
print('Profit/Loss percentage for 90 days (3 Months)') 
profit_loss_pct(90)

Profit/Loss percentage for 7 days (1 week)
Profit over 7 days is : 0.007974511756446985 %
Profit/Loss percentage for 14 days (2 weeks)
Profit over 14 days is : 0.02415107846606965 %
Profit/Loss percentage for 30 days (1 Month)
Loss over 30 days is : -0.032792781929728294 %
Profit/Loss percentage for 60 days (2 Months)
Loss over 60 days is : -0.041957033352945046 %
Profit/Loss percentage for 90 days (3 Months)
Loss over 90 days is : -0.0588749859068631 %

In [32]:
df['Day_Perc_Change'] = df['Close Price'].pct_change()

In [33]:
# replacing the NaN value by 0
df['Day_Perc_Change'] = df['Day_Perc_Change'].fillna(value = 0)

In [34]:
df

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Year,Month,Avg Price(CP+HP+LP),VWAP,Profit/Loss Percentage,Day_Perc_Change
0,2019-10-24,1780.78,"1,770.78",1787.97,1760.78,5200000.0,2019,10,1776.510000,1776.510000,0.010561,0.000000
1,2019-10-23,1762.17,"1,761.30",1770.05,1742.00,2190000.0,2019,10,1758.073333,1758.073333,-0.002016,-0.010450
2,2019-10-22,1765.73,"1,788.15",1789.78,1762.00,2230000.0,2019,10,1772.503333,1772.503333,-0.011161,0.002020
3,2019-10-21,1785.66,"1,769.66",1785.88,1765.00,2220000.0,2019,10,1778.846667,1778.846667,0.016017,0.011287
4,2019-10-18,1757.51,"1,787.80",1793.98,1749.20,3370000.0,2019,10,1766.896667,1766.896667,-0.016767,-0.015764
...,...,...,...,...,...,...,...,...,...,...,...,...
498,2017-10-31,1105.28,"1,109.00",1110.54,1101.12,3480000.0,2017,10,1105.646667,1105.646667,-0.005014,0.001450
499,2017-10-30,1110.85,"1,095.01",1122.79,1093.56,6610000.0,2017,10,1109.066667,1109.066667,0.008992,0.005039
500,2017-10-27,1100.95,"1,058.14",1105.58,1050.55,16570000.0,2017,10,1085.693333,1085.693333,0.132164,-0.008912
501,2017-10-26,972.43,980.33,982.90,968.55,5620000.0,2017,10,974.626667,974.626667,-0.000493,-0.116736
502,2017-10-25,972.91,978.00,984.44,966.24,3030000.0,2017,10,974.530000,974.530000,0.000000,0.000494

In [35]:
# to add a new column based on the conditions of existing column use np.select(conditions, choices, default)
# make a list of conditions and choices in their respective order
# order is very important
# we can also add default values

cond = [(df['Day_Perc_Change'] < -7 ),
        (df['Day_Perc_Change'] > -7 ) & (df['Day_Perc_Change'] < -3 ),
        (df['Day_Perc_Change'] > -3 ) & (df['Day_Perc_Change'] < -1 ),
        (df['Day_Perc_Change'] > -1 ) & (df['Day_Perc_Change'] < -0.5),
        (df['Day_Perc_Change'] > -0.5 ) & (df['Day_Perc_Change'] < 0.5 ),
        (df['Day_Perc_Change'] > 0.5 ) & (df['Day_Perc_Change'] < 1 ),
        (df['Day_Perc_Change'] > 1 ) & (df['Day_Perc_Change'] < 3 ),
        (df['Day_Perc_Change'] > 3 ) & (df['Day_Perc_Change'] < 7 ),
        (df['Day_Perc_Change'] > 7 )]
        
        
        
choices  = ['Bear Drop', 'Among Top Loosers',  'Negative', 
            'Slight Negative', 'Slight or no change', 'Slight Positive',
            'Positive', 'Among Top Gainers', 'Bull Run']
df['trend'] = np.select(cond, choices)

In [36]:
df.groupby('trend')['Total Traded Quantity'].mean()

trend
Slight or no change    4.820656e+06
Name: Total Traded Quantity, dtype: float64

In [37]:
df.groupby('trend')['Total Traded Quantity'].median()

trend
Slight or no change    4270000.0
Name: Total Traded Quantity, dtype: float64

In [38]:
df.to_csv('week2.csv',index = False)